nav {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 0 0 4px;
  z-index: 999;
  background-color: var(--color_accent);
}

.navbar-align {
  width: calc(100% - 2vw);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu-item {
  padding: 10px 0.5vw 6px;
  margin: 0 1vw;
  color: var(--fontColor_sec);
  text-align: center;
  cursor: pointer;
  position: relative;
}

.menu-item::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-top: 4px solid var(--fontColor_sec);
  z-index: -1;
}

.menu-item:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

.brand {
  height: 32px;
  margin: auto 0;
  display: flex;
  gap: 0 5px;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--fontColor_sec);
}

.brand::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-top: 3px solid var(--fontColor_sec);
  z-index: -1;
}

.brand:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

.brand-name {
  font-size: clamp(0.9em, 2vw, 1.1em);
}

.brand-logo {
  width: 28px;
  height: 26px;
  margin: 2px 0 0;
}

.menu-icon {
  display: none;
  width: 32px;
  height: 26px;
  padding: 10px 0 0;
  position: relative;
  cursor: pointer;
}

.menu-icon::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  border-top: 4px solid var(--fontColor_sec);
  z-index: -1;
}

.menu-icon:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}

@media screen and (max-width: 1100px) {
  .navbar-align {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menu {
    flex-direction: column;
  }

  .menu-item {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu.responsive {
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .menu.responsive .menu-item {
    display: block;
    text-align: left;
    padding-left: 8px;
  }

  .menu.responsive .menu-item a {
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  .brand {
    width: 48px;
    display: flex;
    justify-content: space-between;
  }

  .brand-name {
    font-size: 0;
  }

}